apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      group: gateway.networking.k8s.io
      kind: Gateway
      name: openshift-ai-inference
    path: patch-gateway.yaml
