apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - operator-group.yaml
  - subscription.yaml
# Note: Console plugin excluded due to OCPBUGS-59972
# (u.healthHandler is not a function error on OCP 4.20.x)
